* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
    
.body1 {
    height: 100%;
    width: 100%;
    background-image: url(../../assets/images/fd17.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
}
    
html {
    scroll-behavior: smooth;
}

/* About heading section */

.menu_divsn {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 20px; 
  position: relative;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}
  
.menu_title {
  text-align: center;
  margin-bottom: 16px;
}
  
.menu_title h1 {
  font-size: 2.5rem; 
  font-weight: bold;
  border-bottom: 4px solid #ffc403; 
  display: inline-block;
  padding-bottom: 6px;
}

.menu_content {
  text-align: center;
  max-width: 90%; 
  padding: 20px 17rem;
}

.menu_content p {
  font-size: 1.5rem; 
  line-height: 1.5;
}

@media (max-width: 768px) {
  .menu_title h1 {
    font-size: 2rem; 
  }

  .menu_content {
    padding: 5px; 
  }

  .menu_content p {
    font-size: 1rem; 
  }
}

@media (max-width: 576px) {
  .menu_title h1 {
    font-size: 2rem; 
  }

  .menu_content p {
    font-size: 1rem; 
  }
}